.app-header {
    background-color: $clr-off-white;
    margin: 1rem;
    border-radius: .5rem;
    color: $clr-gray;
    position: sticky;
    top: 1rem;
    z-index: 1;

    & nav {
        display: flex;
        align-items: center;
        margin-inline: 1rem;
        height: 90px;
        justify-content: space-between;
    }

    .language-btn {
        height: 48px;
        width: 64px;
        padding: 0;
        margin: 0.25rem;
    }

    // .selected {
    //     border: 1px solid gray;
    // }

    img {
        height: 32px;
        width: 48px;
        border-radius: .25rem;
    }

    .logo {
        padding: 0;

        img {
            height: 48px;
        }
    }
}